<html>

<head>
<meta property='og:image' content='https://i.ibb.co/cY40Q42/Screenshot-from-2020-07-12-23-21-29.png'/>
<title>Covid19 em Chapecó</title>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>

.panel {
  width: 75%;
  flex-grow: 0;
}

.header {
  text-align: center;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer {
	font-size: 12px;
	text-color: black;
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 1080px) {
  .panel {
    width: 100%;
    flex-grow: 1;
  }
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

</style>
</head>

<body>
  <div class='header'>
    <h1 class='title'>Dados da Covid-19 no Município de Chapecó</h1>
    <p>Atualizado em: <%= latest_timestamp %></p>
  </div>

  <div class='dashboard'>
    <% charts.keys.each do |name|%>
      <div class='panel'>
        <h2><%= name %></h2>
        <% if charts[name][:subtitle] %>
          <p><%= charts[name][:subtitle] %></p>
        <% end %>
        <%= charts[name][:chart] %>
      </div>
    <% end %>
  </div>
  <div class='footer'>
	<a href='https://www.chapeco.sc.gov.br/documentos/54/documentoCategoria' target='#'>Fonte dos dados.</a>
  </div>
</body>

</html>
