<html>
<head>
  <title>Covid19 em Chapecó</title>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<body>
  <h1>Dados da Covid-19 no Município de Chapecó</h1>
  <p><i>Última atualização: <%= latest_timestamp %></i></p>

  <% charts.keys.each do |name|%>
    <div style='display:inline;width:50%;float:left'>
      <h2><%= name %></h2>
      <%= charts[name] %>
    </div>
  <% end %>
</body>
</html>
