<html>

<head>
<title>Covid19 em Chapecó</title>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<style>

.panel {
  width: 75%;
  flex-grow: 0;
}

.header {
  text-align: center;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1080px) {
  .panel {
    width: 100%;
    flex-grow: 1;
  }
}

</style>
</head>

<body>
  <div class='header'>
    <h1 class='title'>Dados da Covid-19 no Município de Chapecó</h1>
    <p><i>Última atualização: <%= latest_timestamp %></i></p>
  </div>

  <div class='dashboard'>
    <% charts.keys.each do |name|%>
      <div class='panel'>
        <h2><%= name %></h2>
        <% if charts[name][:subtitle] %>
          <p><%= charts[name][:subtitle] %></p>
        <% end %>
        <%= charts[name][:chart] %>
      </div>
    <% end %>
  </div>
</body>

</html>
